1. Tentukan library digunakan

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. Load Dataset

In [2]:
dataset = pd.read_csv('jcoroner.csv')

In [3]:
dataset.head()

   sbp  tobacco   ldl  adiposity  typea  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11     49    25.30    97.20   52    1
1  144     0.01  4.41      28.61     55    28.87     2.06   63    1
2  118     0.08  3.48      32.28     52    29.14     3.81   46    0
3  170     7.50  6.41      38.03     51    31.99    24.26   58    1
4  134    13.60  3.50      27.78     60    25.99    57.34   49    1

In [4]:
dataset.shape

(462, 9)

In [5]:
dataset['chd'].value_counts()

0    302
1    160
Name: chd, dtype: int64

In [6]:
# memiahkan data dan label
X = dataset.drop (columns='chd',axis=1)
Y = dataset['chd']

In [7]:
print(X)

     sbp  tobacco    ldl  adiposity  typea  obesity  alcohol  age
0    160    12.00   5.73      23.11     49    25.30    97.20   52
1    144     0.01   4.41      28.61     55    28.87     2.06   63
2    118     0.08   3.48      32.28     52    29.14     3.81   46
3    170     7.50   6.41      38.03     51    31.99    24.26   58
4    134    13.60   3.50      27.78     60    25.99    57.34   49
..   ...      ...    ...        ...    ...      ...      ...  ...
457  214     0.40   5.98      31.72     64    28.45     0.00   58
458  182     4.20   4.41      32.10     52    28.61    18.72   52
459  108     3.00   1.59      15.23     40    20.09    26.64   55
460  118     5.40  11.61      30.79     64    27.35    23.97   40
461  132     0.00   4.82      33.41     62    14.70     0.00   46

[462 rows x 8 columns]

In [8]:
print(Y)

0      1
1      1
2      0
3      1
4      1
      ..
457    0
458    1
459    0
460    0
461    1
Name: chd, Length: 462, dtype: int64

3. Memindahkan data training dan data testing

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [10]:
print(X.shape, X_train.shape, X_test.shape)

(462, 8) (369, 8) (93, 8)

4. Membuat data latih menggunakan Algoritma SVM

In [11]:
classifier = svm.SVC(kernel='linear')

In [12]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

5. Membuat model evaluasi untuk mengukur tingkat akurasi

In [13]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [14]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.7235772357723578

In [15]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [16]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.6666666666666666

6. Membuat Model prediksi

In [17]:
input_data = (118, 0.08, 3.48, 32.28, 52, 29.14, 3.81, 46)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Pasien tidak mengidap jantung koroner')
else :
    print('Pasien mengidap jantung koroner')

[0]
Pasien tidak mengidap jantung koroner

c:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

7. Simpan Model

In [18]:
import pickle

In [19]:
filename = 'jcoroner_model.sav'
pickle.dump(classifier, open(filename,'wb'))